body {
    background-color: #FFFFFF;
    transition: all 0.3s;
    font-size: 'Roboto';
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: 0;
}

ul {
    list-style: none;
}