.page-main {
  max-width: 1920px;
  .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 19px 0 15px 0;
      .logo {
        display: block;
        height: 89px;
      }
      .tel {
        padding-left: 29px;
        background-image: url("../Picture/iconcolor/телефон.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        margin-right: 16px;
        font-size: 26px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }

  .fullcantainer {
    background-color: #525358;
    margin-bottom: 20px;
  }

  .search {
    margin: 11px 36px 11px 0;
    padding: 12px 33px 10px 18px;
    width: 273px;
    background-image: url("../Picture/iconcolor/поиск.jpg");
    background-repeat: no-repeat;
    background-position: right center;
  }

  ::placeholder {
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #b3b0b0;
  }

  .menulist {
    display: flex;
    width: 973px;
    justify-content: space-between;
    align-items: center;
  }

  .doors {
    margin-bottom: 48px;
  }

  .door-mat-list {
    padding: 23px 18px 3px 30px;
    display: none;
  }

  .veneer {
    margin-bottom: 27px;
    padding-left: 55px;
    .veneer-item:not(:last-child) {
      margin-bottom: 23px;
    }
    .veneer-name {
      font-size: 16px;
      color: #d96e14;
    }
  }

  .sort-color {
    padding: 23px 0 28px 20px;
    display: none;
    .color:not(:last-child) {
      margin-bottom: 20px;
    }
    .color-name {
      padding-left: 22px;
    }
  }
}
