<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Двери тут
    link(rel="stylesheet", href="css/basketGoods.css")
  body.page-basket

    include ../modules/header

    main.main
      .container

        include ../modules/filter

        section.main-section
          .index
            a(href="#").index-text Главная
            .index-text >
            a(href="#").index-text.choose Корзина

          .headling2 О нашей компании

          table.basket-container
            tr.head
              th.head-text.photo фото
              th.head-text.name наименование
              th.head-text.money цена
              th.head-text.number количество
              th.head-text.sum сумма
              th.head-text.edit редактировать
            tr.body
              td(rowspan=2).body-photo
                img(src="img/img/d1.jpeg", alt="").photo
              td(rowspan=2).body-name
                p.name Дверь межкомнатная шпонированная «Париж» Виски (Шпон натуральный) остекление художественное
                p.descp Цвет: Виски, Тип: Полотно
              td.body-money.money 9 300 руб.
              td.body-number
                input(type="text", name="number", placeholder="4").number
              td.body-sum.sum 9 300 руб.
              td.body-edit
                button.close
            tr
              td(colspan=4).body.body-instruction
                  p.instruction-text выберите количество дверей
                    |
                    span.star *
                  p.instruction-smalltext Цена уменьшается прапорционально количеству


          //- .basket-container
            //- .basket-head
            //-   p.head-text.photo фото
            //-   p.head-text.name наименование
            //-   p.head-text.money цена
            //-   p.head-text.number количество
            //-   p.head-text.sum сумма
            //-   p.head-text.edit редактировать
            //- .basket-body
              img(src="img/img/d1.jpeg", alt="").photo.body
              p.body.name Дверь межкомнатная шпонированная «Париж» Виски (Шпон натуральный) остекление художественное
                br
                |
                span.desp Цвет: Виски, Тип: Полотно
              p.body.money 9 300 руб.
              input(type="text", name="number", placeholder="4").body.number
              p.body.sum 9 300 руб.
              .body.edit
                button.close
              .body.body-instruction
                p.instruction-text выберите количество дверей
                  |
                  span.star *
                p.instruction-text Цена уменьшается прапорционально количеству

          .total
            .sum
              p.text Итого:
              p.sum-num 9 300 руб.
              p.old-num 12 600 руб.
            .save
              p.discount Экономия:
              p.discount-num 3 300 руб.

          form.form
            h2.headlings2 Оформить заказ
            .container-block1
              .input-block1
                .input-label
                  label(for="name").label-name Фамилия, Имя *
                  input(type="text", name="name", placeholder="Введите Имя").input-name
                .input-label
                  label(for="name").label-name телефон *
                  input(type="text", name="name", placeholder="Введите телефон").input-name
                .input-label
                  label(for="name").label-name Email *
                  input(type="text", name="name", placeholder="Введите email").input-name
              textarea(name="comments").textarea-comments
            .container-block2
              .payment-method
                label(for="pay").label-name Способ оплаты
                select(name="pay").feature
                  option(value="Оплата наличными при получении").feature-option Оплата наличными при получении
              .shipment-method
                label(for="pay").label-name Способ доставки
                select(name="pay").feature
                  option(value="Оплата наличными при получении").feature-option Самовывоз (Бесплатно)
            .container-block3
              .label-name Адрес
              input(type="text", placeholder="Город").city
              input(type="text", placeholder="Улица").street
              input(type="text", placeholder="Корпус").housing
              input(type="text", placeholder="Город").city
              input(type="text", placeholder="Квартира").apt
            .container-block3
              .label-name Нужен монтаж
               select(name="instal").feature
                  option(value="Да").feature-option Да
    include ../modules/footer
