<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Двери тут
    link(rel="stylesheet", href="css/basketGoods.css")
  body.page-basket

    include ../modules/header

    main.main
      .container

        include ../modules/filter

        section.main-section
          .index
            a(href="#").index-text Главная
            .index-text >
            a(href="#").index-text.choose Корзина

          .headling2 О нашей компании

          .basket-container
            .basket-head
              p.head-text.photo фото
              p.head-text.name наименование
              p.head-text.money цена
              p.head-text.number количество
              p.head-text.sum сумма
              p.head-text.edit редактировать
            .basket-body
              img(src="img/img/d1.jpeg", alt="").photo.body
              p.body.name Дверь межкомнатная шпонированная «Париж» Виски (Шпон натуральный) остекление художественное
                br
                |
                span.desp Цвет: Виски, Тип: Полотно
              p.body.money 9 300 руб.
              input(type="text", name="number", placeholder="4").body.number
              p.body.sum 9 300 руб.
              .body.edit
              .body.body-instruction
                p.instruction-text выберите количество дверей
                  |
                  span.star *
                p.instruction-text Цена уменьшается прапорционально количеству

    include ../modules/footer
