.page-main {
  .header {
    .container {
      max-width: 1600px;
      margin: 0 auto;
      display: flex;

      .head {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 19px 0 15px 0;

        .logo {
          display: block;
          height: 89px;
        }

        .tel {
          padding-left: 29px;
          background-image: url("../img/iconcolor/телефон.jpg");
          background-repeat: no-repeat;
          background-position: left center;
          margin-right: 16px;
          font-size: 26px;
          line-height: 24px;
          font-weight: 500;
        }

        .basket {
          width: 182px;;
          padding-left: 50px;
          background-image: url("../img/iconcolor/корзина.jpg");
          background-repeat: no-repeat;
          background-position: left center;
          font-size: 16px;
          line-height: 20px;
          font-weight: 300;
          text-align: left;
          .good-num {
            font-weight: 500;
            margin-right: 5px;
          }
          .good-price {
            font-weight: 500;
            margin-left: 5px;
          }
        }
      }
    }

    .menu-bar {
      background-color: #525358;
      margin-bottom: 20px;

      .search {
        padding: 0 17px 0px 18px;
        width: 273px;
        height: 36px;
        background-image: url("../img/iconcolor/поиск.jpg");
        background-repeat: no-repeat;
        background-position: right 17px center;
        margin: 11px 36px 11px 0;
      }

      ::placeholder {
        opacity: 0.8;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #b3b0b0;
      }

      .menu {
        display: flex;
        .menulist {
          display: flex;
          width: 973px;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }

  .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    .filter {
      margin-right: 47px;
      .doors {
        margin-bottom: 48px;
      }
      .door-mat-list {
        padding: 23px 18px 3px 30px;
        display: none;
      }
      .veneer {
        margin-bottom: 27px;
        padding-left: 55px;
        .veneer-item:not(:last-child) {
          margin-bottom: 23px;
        }
        .veneer-name {
          font-size: 16px;
          color: #d96e14;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .sort-color {
        padding: 23px 0 28px 20px;
        // display: none;
        .color:not(:last-child) {
          margin-bottom: 20px;
        }
        .color-name {
          padding-left: 22px;
          display: flex;
          align-items: center;

          .circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 15px;
          }
        }
          .color-choise {
            margin-right: 11px;
            height: 11px;
          }
          .color-name:hover {
            text-decoration: underline;
            color: #d66d15;
          }
      }
    }
    .main-section {
      width: 1283px;
      margin-bottom: 40px;
      .slider {
        // width: 1283px;
        height: 442px;
        background-image: url(../img/img/slide-desktop-1.jpeg);
        background-position-x: -108px;
        margin-bottom: 50px;
        position: relative;
        .new-year {
          width: 476px;
          height: 398px;
          opacity: 0.25;
        }
        .slider-news {
          position: absolute;
          top: 120px;
          left: 285px;
          >.headling1 {
            margin-bottom: 24px;
          }
          .text {
            font-size: 30px;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 31px;
          }
        }
      }
      .slider-btn {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        .item:not(:last-child) {
          margin-right: 23px;
        }
      }
      .content {
        display: flex;
        flex-wrap: wrap;
        .doors-kind {
          margin-right: 183px;
          width: 637px;
          &:nth-child(2n) {
            margin-right: 0;
            width: 457px;
          }
          >.headling2 {
            margin-bottom: 26px;
          }
          .models {
            display: flex;
            margin-bottom: 36px;
            .model-item {
              width: 104px;
              height: 325px;
              text-align: center;
              &:not(:last-child) {
                margin-right: 74px;
              }
              .m-img {
                height: 240px;
                margin-bottom: 19px;
              }
              .m-title {
                text-align: center;
                font-size: 20px;
                line-height: 22px;
                font-weight: 500;
                margin-bottom: 14px;
              }
              .m-count {
                font-size: 16px;
                line-height: 18px;
                font-weight: 300;
              }
            }
          }
          .m-link {
            margin-bottom: 72px;
            .doorLink {
              display: inline-block;
              margin-right: 6px;
              font-size: 20px;
              line-height: 28px;
              font-weight: 500;
              color: #ec7919;
            }
          }
        }
      }
    }
  }
  .footer {
    .fullcontainer {
      background-color: #35363b;
      .container {
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        padding: 82px 0;
        justify-content: space-between;
        align-items: center;
        .logo-footer {
          width: 298px;
          height: 89px;
        }
        .discount {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          line-height: 14px;
          font-weight: 400;
          color: #989696;
          margin-bottom: 13px;
        }
        .footersearch {
          padding: 12px 33px 10px 18px;
          width: 319px;
          background-image: url("../img/iconcolor/поиск.jpg");
          background-repeat: no-repeat;
          background-position: right 17px center;
        }
        ::placeholder {
          opacity: 0.8;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 400;
          color: #b3b0b0;
        }
        .nav-menu {
          columns: 2;
          column-gap: 105px;

          .item-list:not(:last-child) {
            margin-bottom: 22px;
          }
          .item-nav {
            font-size: 20px;
            line-height: 20px;
            font-weight: 300;
            color: #ffffff;
          }
          .item-list a:hover {
            font-weight: 700;
          }
        }
        .contact {
          width: 293px;
          text-align: right;
          .footer-phone {
            margin-bottom: 26px;
            .foter-tel {
              font-size: 26px;
              line-height: 24px;
              font-weight: 500;
              color: #ffffff;
              padding-left: 32px;
              background-image: url("../img/iconcolor/phone.png");
              background-repeat: no-repeat;
              background-position: left center;
            }
            .schedule {
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              color: #9c9a9a;
              .day  {
                font-weight: 400;
                color: #ffffff;
                margin: 0 3px;
              }
            }
          }
          .mail-link {
            display: inline-block;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 300;
            color: #ffffff;
            margin-bottom: 28px;
            padding-left: 27px;
            background-image: url("../img/iconcolor/mail.png");
            background-repeat: no-repeat;
            background-position: left center;
          }
          .footer-address {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 300;
            color: #a19f9f;
            padding-left: 29px;
            background-image: url("../img/iconcolor/adres.png");
            background-repeat: no-repeat;
            background-position: left top;
          }
        }
      }
    }
  }
}

