.btn {
    width: 189px;
    height: 44px;
    background-color: #ec7919;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
}

.catalog {
    width: 274px;
    height: 58px;
    background-color: #38393e;
    display: flex;
    justify-content: center;
    margin-right: 44px;
    .burger {
        display: flex;
        flex-direction: column;
        margin-right: 19px;
        .line {
            width: 27px;
            height: 2px;
            background-color: #ffffff;
            margin-bottom: 5px;
        }
        .line:last-child {
            margin-bottom: 0;
        }
    }
    .catlogtext {
        font-size: 20px;
        line-height: 16px;
        font-weight: 400;
        color: #ffffff;
    }
}

.itembtn {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.doors-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 271px;
  height: 43px;
  border: 1.0px solid #d0d0d0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 2px;
  padding: 0 17px 0 29px;
}
  .point {
    width: 8px;
    height: 8px;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    transform: rotate(45deg) translateX(-25%);
  }

.door-material {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 23px;
  &:hover .point-in{
    border-color: #ec7919;
  }
}
  .point-in {
    width: 8px;
    height: 8px;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    transform: rotate(-45deg) translateX(-25%);
  }

.sale {
  width: 259px;
  height: 55px;
  background-color: #ec7919;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
}

.slider-dot {
  width: 11px;
  height: 11px;
  border: 2.0px solid #ec7919;
  border-radius: 6px;
  &:hover {
    background-color: #ec7919;
  }
}

