aside.filter
  button.first-level
  ul
    li
      button.second-level Экошпон
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Шпон натуральный
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Двери из массива
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Двери эмаль
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Двери еврошпон
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Двери ламинирован.
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Двери ПВХ
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Двери из массива
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Двери из массива
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"
    li
      button.second-level Двери из массива
      ul
        li
          a(href="#").text-third Шпон Стандарт
        li
          a(href="#").text-third Шпон Евро
        li
          a(href="#").text-third Шпон Graffity"

