header.header
  .container
    .head
      a(href="#")
        img(src="../img/logo/doorlogo.png", alt="logo").logo
      P.contact
        a(href="tel:+79089205353").tel +7 (908) 920-53-53
        button.btn Заказать звонок
      button.basket 2 товара на сумму 1 050 руб.
  .menu-bar
    .container
      button.catalog
        .burger
          .line
          .line
          .line
        p.catlogtext Каталог товаров
      input(type="search", name="search", placeholder="Поиск по каталогу").search
      nav.menu
        ul.menulist
          li.item
            button.itembtn Установка
          li.item
            button.itembtn Контакты
          li.item
            button.itembtn О компании
          li.item
            button.itembtn Оптовикам
          li.item
            button.itembtn Гарантия
          li.item
            button.itembtn Доставка и оплата
