.dark-container
  form(action="").phone-window
    .close-container
      button.close
    input(type="text", name="name", placeholder="Имя").phone-name
    input(type="text", name="phone", placeholder="Телефон").phone-number
    input(type="submit", value="Заказать звонок", disabled="disabled").phone-btn
